<div class="main_image">
    <div class="container">
        <div class="title">
            <h1>毎日の食事を管理するアプリ</h1>
        </div>
        <%= link_to "Sign Up", "/", class: 'btn btn-success active sign_up_btn' %>
    </div>
</div>