<nav class="navbar navbar-expand-lg navbar-light navbar-img">
    <div class="container">
        <%= link_to"", class:"navbar-brand" do%>
            <i class="fas fa-utensils fa-lg mt-3 icon_color"> Food-Diary</i>
        <% end %>
        <ul class="navbar-nav navbar-dark ml-auto">
            <li class="nav-item1">
                <%= link_to"Sign Up", "/", class:"navbar-brand" %>
            </li>
            <li class="nav-item2">
                <%= link_to"Sign In", "/", class:"navbar-brand" %>
            </li>
        </ul>
    </div>
</nav>